language: r
dist: trusty
sudo: true
os:
- linux
cache:
  directories:
  - "$HOME/.cache"
  - "$HOME/R/Library"
services:
- docker
before_install:
- openssl aes-256-cbc -K $encrypted_95b2b80a4aa4_key -iv $encrypted_95b2b80a4aa4_iv
  -in credentials.enc -out credentials -d
- source credentials
- source <(curl -sSL https://raw.githubusercontent.com/dynverse/travis_scripts/master/helper.sh)
install:
- set -e 
- update_docker
- install_hdf5
- install_cran remotes
- install_github_withdeps dynverse/dynutils dynverse/dynwrap@singularity3 dynverse/dyntoy
script:
- export REPO=dynverse/$NAME
- source version
- cd $NAME
- build_docker
- cd ..
- # export REPO=dynverse/${NAME}_tester
- # cd ${NAME}_tester
- # build_docker
- # test_docker
- # cd ..
after_success:
- export REPO=dynverse/$NAME
- push_docker
- # export REPO=dynverse/${NAME}_tester
- # push_docker
jobs:
  include:
  - stage: cache
    script:
    - echo Do not build or test docker since this is a cache warmup
    after_success:
    - echo Do not push docker since this is a cache warmup
  - stage: r
    before_script:
    - export NAME=dynwrapr
  - stage: py
    before_script:
    - export NAME=dynwrappy
