on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: "0 0 * * 1"

name: make

jobs:
  build_containers:
    runs-on: 'ubuntu-latest'
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    name: build dyverse/dynwrap_${{ matrix.config.randpy }}

    env:
      R_LATEST: 4.0
      PY_LATEST: 3.8
      REPO: dynverse/dynwrap_${{ matrix.config.randpy }}

    strategy:
      fail-fast: false
      matrix:
        config:
          - {randpy: 'r3.6_py3.6'}
          - {randpy: 'r3.6_py3.7'}
          - {randpy: 'r3.6_py3.8'}
          - {randpy: 'r4.0_py3.6'}
          - {randpy: 'r4.0_py3.7'}
          - {randpy: 'r4.0_py3.8'}
          - {randpy: 'latest'}

    steps:
      - uses: actions/checkout@v2

      - name: Build
        run: |
          source version
          out=Dockerfile
          echo "FROM dataintuitive/randpy:${{ matrix.config.randpy }}" > $out
          echo >> $out
          cat src/Dockerfile.template >> $out
          TAG="v$VERSION"
          docker build --build-arg GITHUB_PAT=${{ secrets.PAT }} -t "$REPO:$TAG" -f $out .
          if [ "master" == $GITHUB_REF ]] ; then
            docker tag "$REPO:$TAG" "$REPO:latest"
          fi

      - name: Push
        run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          docker push $REPO
